/* reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  font-size: 1.2em;
  line-height: 1.0em;
  color: #333;
}

.bs-docs-header {
  padding: 30px 0 30px 175px;
  color: #cdbfe3;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
}

.bs-docs-header h1 {
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

.bs-docs-header p {
  color: #cdbfe3;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.h2,
h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.1;
}

.content {
  padding-left: 15px;
  padding-bottom: 50px;
}

.content h1 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 0;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.exercise {
  border: 1px #eee solid;
  border-radius: 3px;
}

.exercise .result {
  padding: 15px;
}

.exercise .result .text {
  font-size: 12px;
  color: #999;
  margin-bottom: 12px;
}

.exercise .code {
  line-height: 1.6;
  border-top: 1px #eee solid;
  margin-top: 15px;
  padding: 15px;
  color: #d44950;
}

[class^="myIcon-"],
[class*="myIcon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  background: url(../images/comm/images/commIcon.png) no-repeat;
}
.myIcon-createFolder {
  background-position: 0px -338px;
}
.myIcon-upload {
  background-position: 0px -280px;
}
.myIcon-download {
  background-position: 0px -299px;
}
.myIcon-del {
  background-position: 0px -360px;
}
.myIcon-enter {
  background-position: 0px -380px;
}
.myIcon-cancel {
  background-position: 0px -400px;
}
.myIcon-slanting-right {
  background-position: 0px -213px;
}
.myIcon-search {
  background-position: 0px -480px;
}

.section{
  border:1px #ccc solid;
   padding:30px;
}
.section h1{
      color: #2a2a2a;
      font-size: 40px;

}
.section p{
      padding:10px 0px;

}